.imagenes {
  margin: 200px 0px 200px 0px;
}

ul.menu {
  list-style: none;
  padding: 0;
  display: flex;
  text-align: center;
}

ul.menu li {
  float: left;
  width: 50%;
}

li img {
  width: 75%;
  border: 1px solid #000000;
}

link:hover {
  color: red;
}

@media (max-width: 768px) {
  .imagenes {
    margin: 100px 0px 100px 0px;
  }

  ul.menu {
    flex-direction: column;
  }

  ul.menu li {
    width: 100%;
    margin-top: 20px;
  }
}