.imagenes {
  margin: 200px 0px 200px 0px;
}

ul.menu {
  list-style: none;
  padding: 0;
  display: flex;
  text-align: center;
}

ul.menu li {
  float: left;
  width: 50%;
}

ul.menu li img {
  transition: all 0.3s ease-in-out 0s;
}

ul.menu li img:hover {
  border: 5px solid rgb(244,134,37);
  transition: all 0.3s ease-in-out 0s;
}

ul.menu li img {
  width: 75%;
  border: 5px solid white;
}

@media (max-width: 768px) {
  .imagenes {
    margin: 80px 0px 80px 0px;
  }

  ul.menu {
    flex-direction: column;
  }

  ul.menu li {
    width: 100%;
    margin-top: 20px;
  }
}