.cabecera {
    background-color: rgb(211, 211, 211);
    color :rgb(255, 165, 92);
    padding: 10px;
}

.logoMP {
    width: 8%;
}

h1 {
    width: 80%;
}

.imagenIdioma {
    width: 3%;
    margin: 10px;
}