.botonesIdiomas {
    display: flex;
    width: 10%;
}

.botonIdioma {
    width: 100%;
    margin-right: 10%;
    border: none;
    background-color: transparent;
}

.imagenIdioma {
    width: 100%;
    margin: 5px;
    display: block;
}

.imagenIdioma:hover {
    margin: 0px;
}

@media (max-width: 768px) {
    .botonesIdiomas {
        width: 20%;
    }

    .botonIdioma {
        width: 100%;
    }
}